{% load static %}

<div class="row question">
    <div class="col-2">
        <div class="question-picture">
            <img src="{% static "img/pic2.jpg" %}" style="display: block; margin: auto">
        </div>
        <div>
            <div style="text-align: center">
                500
            </div>
            <div class="question-buttons">
                <button type="button" class="btn btn-success btn-sm">Like</button>
                <button type="button" class="btn btn-danger btn-sm">Dislike</button>
            </div>
        </div>
    </div>
    <div class="col-10">
        <a href="{% url "question" pk=question.id %}">
            <h2>{{ question.title }}</h2>
        </a>
        <div>
            {{ question.text }}
        </div>
        <div class="question-text-bottom">
            <a href="#">answer(3)</a>
            <span>Tags: </span>
            <a href="#">MySQL </a>
        </div>
    </div>
</div>